
@media only screen and (min-width: 1200px) {

    .home-bg-left {
        display: flex !important;
        height: 100vh !important;
        background-image: url(/images/bg_home.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right top;
    }

    .login {
        width: 100%;
        height: 100vh !important;
        background: none;
    }

    .login-container {
        color: #000000;
        height: inherit;
    }
}








