<!DOCTYPE html>
<html lang="en" style="background-image:url(/images/1920x1080-WhiteBackground.jpg);" >

<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="~/js/jPlayer/jplayer.flat.css" type="text/css" />
    <link rel="stylesheet" href="~/css/app.v1.css" type="text/css" />
</head>

<body>
    @await Html.PartialAsync("_StatusMessagesPartial")
    @RenderBody()
    <footer style="padding-top:50px;">
        <div class="navbar">
            <ul class="nav navbar-nav pull-left">
                <li><a href="">ABOUT US</a></li>
                <li><a href="">SUPPORT</a></li>
                <li><a href="">PRESS</a></li>
                <li><a href="">API</a></li>
                <li><a href="">JOBS</a></li>
                <li><a href="">PRIVACY</a></li>
                <li><a href="">TERMS</a></li>
                <li><a href="">DIRECTORY</a></li>
                <li><a href="">PROFILES</a></li>
                <li><a href="">HASHTAGS</a></li>
                <li><a href="">LANGUAGE</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a class="font-bold">&copy; @DateTime.Now.Year  All Rights Reserved. FNEntertainment</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>