<!DOCTYPE html>
<html lang="en" style="background-image:url(/images/1920x1080-WhiteBackground.jpg);" >

<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="~/js/jPlayer/jplayer.flat.css" type="text/css" />
    <link rel="stylesheet" href="~/css/app.v1.css" type="text/css" />
</head>

<body>
    <header class="wrapper text-center">
        <strong>fnmusic </strong>
    </header>
    <hr />
    <div>
        @await Html.PartialAsync("_StatusMessagesPartial")
        @RenderBody()
    </div>
    
    <footer>
        <div class="navbar-fixed-bottom bg-dark">
            <div class="text-center">
                <small class="small text-white"><span>&copy; @DateTime.Now.Year All rights reserved.</span> FNEntertainment Inc.</small>
            </div>
        </div>
    </footer>
</body>
</html>