
@using Microsoft.AspNetCore.Http
@using BaseLib.Models
@inject IHttpContextAccessor httpContextAccessor
@{

    long profileUserId = Model.Id;
    long loggedInUserId = Convert.ToInt64(httpContextAccessor.HttpContext.User.Claims.First(x => x.Type == "Id").Value);

    bool following = false;
}

<div class="pull-right" >
    @if (profileUserId == loggedInUserId)
    {
        <a class="btn btn-default btn-rounded" href="/@httpContextAccessor.HttpContext.User.Claims.First(x => x.Type == "Username").Value/updateprofile" data-toggle="ajaxModal">
            <span class="text">Edit Profile</span>
        </a>
    }
    else
    {
        if (following)
        {
            <a class="btn btn-default btn-rounded" onclick="unfollow()">
                <span class="text">Unfollow </span>
            </a>
            
            <script type="text/javascript">
                function unfollow() {
                    const Http = new XMLHttpRequest();
                    const url = '/unfollow?userId=@profileUserId&fanId=@loggedInUserId';
                    Http.open("POST", url);
                    Http.send();

                    Http.onreadystatechange = (e) => {
                        console.log(Http.responseText);

                        if (Http.readyState == 4) {
                            document.location.reload(true);
                        }
                    }
                }
            </script>
        }
        else
        {
            <a class="btn btn-default btn-rounded" onclick="follow()">
                <span class="text"> Follow </span>
            </a>

            <script type="text/javascript">
                function follow() {
                    const Http = new XMLHttpRequest();
                    const url = '/follow?userId=@profileUserId&fanId=@loggedInUserId';
                    Http.open("POST", url);
                    Http.send();

                    Http.onreadystatechange = (e) => {
                        console.log(Http.responseText);

                        if (Http.readyState == 4) {
                            document.location.reload(true);
                        }
                    }
                }
            </script>
        }
    }

</div>
