<!DOCTYPE html>
<html lang="en" class="app">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="~/css/app.v1.css" type="text/css" />
    <link rel="stylesheet" href="~/css/custom.v1.css" type="text/css" />
</head>
<body>
    <nav class="navbar bg-white-only navbar-fixed-top">
        <header class="navbar-header">
            <a href="~/" class="navbar-brand pull-left" style="">fnmusic</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#nav" aria-controls="nav" aria-expanded="false" aria-label="Toggle Navigation">
                <span class="fa fa-bars"></span>
            </button>
        </header>
        <div id="nav" class="collapse navbar-collapse center">
            <ul class="nav navbar-nav nav-primary">
                <li><a href="~/">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Featured</a></li>
            </ul>
        </div>
    </nav>
    @RenderBody()
    <script src="~/js/app.v1.js"></script>
    <script src="~/js/app.plugin.js"></script>
</body>
</html>

