@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor
@{

    bool emailConfirmed = Convert.ToBoolean(httpContextAccessor.HttpContext.User.Claims.First(x => x.Type == "EmailConfirmed").Value);
    string email = httpContextAccessor.HttpContext.User.Claims.First(x => x.Type == "Email").Value;

}
<div class="navbar-right ">
    <ul class="nav navbar-nav m-n hidden-xs nav-user user">
        <li class="hidden-xs">
            <a href="#" class="dropdown-toggle lt" data-toggle="dropdown">
                <i class="icon-bell"></i>
                <span class="badge badge-sm up bg-danger count">2</span>
            </a>
            <section id="#notifications" class="dropdown-menu aside-xl animated fadeInUp">
                <section class="panel bg-white">
                    <div class="panel-heading b-light bg-light">
                        <strong>You have <span class="count">2</span> notifications</strong>
                    </div>
                    <div class="list-group list-group-alt">
                        @if (!emailConfirmed)
                        {
                            <div class="media list-group-item">
                                <span class="pull-left"><i class="fa fa-laptop fa-2x"></i></span>
                                <span class="media-body block m-b-none">
                                    We noticed you haven't yet activated your account, this could restrict you from accessing some exciting
                                    features on our platform and we would love for you to be part of everything we have to offer.
                                </span>
                                <div class="form-group">
                                    <p class="navbar-text">
                                        Didn't get the activation link?

                                    </p>
                                    <a class="btn btn-info navbar-btn" onclick="sendConfirmationEmail()">
                                        <span>resend</span>
                                    </a>
                                </div>
                                <script type="text/javascript">
                                    function sendConfirmationEmail() {
                                        const http = new XMLHttpRequest();
                                        const url = '/confirm/@email';
                                        http.open("POST", url);
                                        http.send();
                                        http.onreadystatechange = (e) => {
                                            if (http.readyState == 4) {
                                                document.location.reload(true);
                                            }
                                        }
                                    }
                                </script>
                            </div>
                        }
                        <a href="#" class="media list-group-item">
                            <span class="pull-left thumb-sm"><img src="images/a0.png" alt="..." class="img-circle"></span>
                            <span class="media-body block m-b-none">  Use awesome animate.css <br> <small class="text-muted">10 minutes ago</small> </span>
                        </a>
                        <a href="#" class="media list-group-item">
                            <span class="media-body block m-b-none"> 1.0 initial released<br> <small class="text-muted">1 hour ago</small> </span>
                        </a>
                    </div>
                    <div class="panel-footer text-sm">
                        <a href="#" class="pull-right"><i class="fa fa-cog"></i></a>
                        <a href="#notes" data-toggle="class:show animated fadeInRight">See all the notifications</a>
                    </div>
                </section>
            </section>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle bg clear" data-toggle="dropdown">
                <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
                    <img src="~/images/a0.png" alt="...">
                </span>
                @httpContextAccessor.HttpContext.User.Claims.First(x => x.Type == "Username").Value
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu animated fadeInRight">
                <li><a href="~/@httpContextAccessor.HttpContext.User.Claims.First(x => x.Type == "Username" ).Value">Profile</a></li>
                <li><a href="#"> <span class="badge bg-danger pull-right">3</span> Notifications </a></li>
                <li><a href="#">Bookmarks</a></li>
                <li class="divider"></li>
                <li><a asp-controller="settings" asp-action="accountsettings">Settings</a></li>
                <li><a href="docs.html">Help Center</a></li>
                <li><a asp-controller="user" asp-action="logout">Log Out</a></li>
            </ul>
        </li>
    </ul>
</div>


