@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var type = (string)TempData["_alert.Type"];
    var title = (string)TempData["_alert.title"];
    var body = (string)TempData["_alert.body"];

    var alertStyle = "alert-primary";


    if (type == "success")
    {
        alertStyle = "alert-success";
    }
    else if (type == "info")
    {
        alertStyle = "alert-info";
    }
    else if (type == "warning")
    {
        alertStyle = "alert-warning";
    }
    else if (type == "danger")
    {
        alertStyle = "alert-danger";
    }

}

@if (!string.IsNullOrEmpty(type))
{


    <div class="alert @alertStyle alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>@title</strong> @body
    </div>
}

