
<!DOCTYPE html>
<html lang="en" class="app">
<!-- Mirrored from flatfull.com/themes/musik/404.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 11 Apr 2019 13:12:47 GMT -->

<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="css/app.v1.css" type="text/css" />
</head>

<body class="bg-light dk">
    @{
        await Html.PartialAsync("_StatusMessagesPartial");
    }
    <section id="content">
        @RenderBody();
    </section> <!-- footer -->
    <footer id="footer">
        <div class="text-center padder clearfix">
            <p> <small>Powered by Enunwah Stephen<br>&copy; @DateTime.Now</small> </p>
        </div>
    </footer> <!-- / footer -->
    <!-- Bootstrap -->
    <!-- App -->
    <script src="js/app.v1.js"></script>
    <script src="js/app.plugin.js"></script>
    <script type="text/javascript" src="js/jPlayer/jquery.jplayer.min.js"></script>
    <script type="text/javascript" src="js/jPlayer/add-on/jplayer.playlist.min.js"></script>
    <script type="text/javascript" src="js/jPlayer/demo.js"></script>
</body>
<!-- Mirrored from flatfull.com/themes/musik/404.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 11 Apr 2019 13:12:47 GMT -->

</html>
