
@using Microsoft.AspNetCore.Http
@using FNMusic.Controllers
@using BaseLib.Models
@using UserMgt.Models
@inject IHttpContextAccessor httpContextAccessor
@inject UserController userController
@{
    long loggedInUserId = Convert.ToInt64(httpContextAccessor.HttpContext.User.Claims.First(x => x.Type == "Id").Value);
    long profileUserId = Model.Id;

}


<div class="panel wrapper">
    <div class="row text-center">
        <div class="col-xs-6">
            <a>
                <span id="following" class="m-b-xs h4 block">0</span>
                <small class="text-muted">Following</small>
            </a>
            <script type="text/javascript">

                function getFollowingCount() {
                    const Http = new XMLHttpRequest();
                    const url = '/following?userId=@profileUserId&pageNumber=1&pageSize=1';
                    Http.open("GET", url);
                    Http.send();

                    Http.onreadystatechange = (e) => {
                        if (Http.readyState == 4) {
                            var responseData = JSON.parse(Http.response);
                            document.getElementById("following").innerText = responseData["noOfRecords"];
                        }
                    }

                }

                getFollowingCount();
            </script>
        </div>
        <div class="col-xs-6">
            <a>
                <span id="followers" class="m-b-xs h4 block">0</span>
                <small class="text-muted">Followers</small>
            </a>
            <script type="text/javascript">

                function getFollowersCount() {
                    const Http = new XMLHttpRequest();
                    const url = '/followers?userId=@profileUserId&pageNumber=1&pageSize=1';
                    Http.open("GET", url);
                    Http.send();

                    Http.onreadystatechange = (e) => {
                        if (Http.readyState == 4) {
                            var responseData = JSON.parse(Http.response);
                            document.getElementById("followers").innerText = responseData["noOfRecords"];
                        }
                    }

                }

                getFollowersCount();

            </script>
        </div>
    </div>
</div>

<script type="text/javascript">

</script>

@if (loggedInUserId != profileUserId)
{
    Result<User> result = await userController.IsFollowing(profileUserId, loggedInUserId);
    User user = result.Data;
    bool isFollowing = (user != null && user.Id == profileUserId) ? true : false;

    if (isFollowing)
    {
        <div class="btn-group btn-group-justified m-b">
            <a class="btn btn-success btn-rounded" onclick="unfollow()">
                <span class="text"><i class="fa fa-eye-slash"></i> Unfollow </span>
            </a>
            <a class="btn btn-dark btn-rounded" data-toggle="button">
                <i class="fa fa-comment-o"> Chat </i>
            </a>
        </div>

        <script type="text/javascript">
            function unfollow() {
                const Http = new XMLHttpRequest();
                const url = '/unfollow?userId=@profileUserId&fanId=@loggedInUserId';
                Http.open("POST", url);
                Http.send();

                Http.onreadystatechange = (e) => {
                    console.log(Http.responseText);
                }

                document.location.reload(true);
            }

        </script>
    }
    else
    {
        <div class="btn-group btn-group-justified m-b">
            <a id="followButton" class="btn btn-success btn-rounded" onclick="follow()">
                <span class="text"><i class="fa fa-eye"></i> Follow </span>
            </a>
            <a class="btn btn-dark btn-rounded" data-toggle="button">
                <i class="fa fa-comment-o"> Chat </i>
            </a>
        </div>

        <script type="text/javascript">
            function follow() {
                const Http = new XMLHttpRequest();
                const url = '/follow?userId=@profileUserId&fanId=@loggedInUserId';
                Http.open("POST", url);
                Http.send();

                Http.onreadystatechange = (e) => {
                    console.log(Http.responseText);
                }

                document.location.reload(true);
            }

        </script>


    }

}
else
{
    <div class="btn-group btn-group-justified m-b">
        <a class="btn btn-success btn-rounded" href="/@httpContextAccessor.HttpContext.User.Claims.First(x => x.Type == "Username").Value/updateprofile">
            <span class="text">Edit Profile</span>
        </a>
    </div>
}

