@model FNMusic.Models.ForgotPassword
@using Microsoft.AspNetCore.Http;

@inject IHttpContextAccessor httpContextAccessor
@{
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
    var session = httpContextAccessor.HttpContext.Session;
    bool prp = Convert.ToBoolean(session.GetString("PRP"));
    bool prpv = Convert.ToBoolean(session.GetString("PPRV"));
    bool sent = Convert.ToBoolean(session.GetString("Sent"));

}

<section class="m-t-lg wrapper-md animated fadeInUp">
    <div class="container aside-xl bg-white" style="box-shadow:0px 10px 10px; border-radius:5px;">
        <header class="wrapper text-center">
            <h2>Forgot Password</h2>
            <h5 class="text-center">Fill in all the neccessary information</h5>
        </header>
        
        <section class="form-horizontal" style="padding:0px 30px 0px 30px;">
            @if (!sent)
            {
                @using (Html.BeginForm("Auth", "ForgotPassword", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <hr />
                    <div class="form-group">
                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control text-center", placeholder = "Email" })
                    </div>
                    @if (prp)
                    {

                        if (!prpv)
                        {
                            <h5 class="text-center">A verification code was sent to your mobile number, kindly input the code in the box below</h5>
                            <div class="form-group">
                                @Html.TextBoxFor(x => x.Token, new { @class = "form-control input-lg text-center", placeholder = "_ _ _ _ _ _" })
                            </div>
                        }
                        else
                        {

                            <h5 class="text-center">Your request has been verified successfully</h5>
                        }

                    }
                    <button type="submit" class="btn btn-warning btn-block">
                        @if (prp && !prpv)
                        {
                            <span>VERIFY</span>
                        }
                        else
                        {
                            <span>GET PASSWORD RESET EMAIL</span>
                        }
                    </button>
                }
                <p class="text-center m-t-lg">
                    Didn't get the code?
                    <a class="btn btn-success" onclick="sendPasswordResetLink()">
                        <span>resend</span>
                    </a>
                </p>
                <script type="text/javascript">
                    function sendPasswordResetLink() {
                        const http = new XMLHttpRequest();
                        const url = '/sendforgotpasswordverificationtoken';
                        http.open("POST", url);
                        http.send();

                        http.onreadystatechange = (e) => {
                            if (http.readyState == 4) {
                                document.location.reload(true);
                                alert('Token was sent successfully');
                            }
                        }
                    }
                </script>
            }
            else
            {
                <div class="form-group">
                    <h4 class="text-center">Dear @Model.Email,</h4>
                    <h5 class="text-center">Your password reset link was sent to your email</h5>
                    <br />
                    <a href="/" class="btn btn-success center-block">
                        <i class="fa fa-home"></i>
                        <span>Home</span>
                    </a>
                </div>
            }
        </section>
    </div>
</section>
