@using Microsoft.AspNetCore.Http
@using System.Security.Claims;
@inject IHttpContextAccessor httpContextAccessor
@{
    Layout = "~/Views/Shared/_SettingsLayout.cshtml";
    ViewData["Title"] = "Account Settings";

    ClaimsPrincipal principal = httpContextAccessor.HttpContext.User;

}

<section class="vbox bg-white">
    <section class="scrollable">
        <ul class="list-group nav nav-user user">
            <li class="h4 font-bold list-group-item bg-light"> Login & Security </li>
            <li class="list-group-item">
                <a asp-controller="Settings" asp-action="UpdateUsername">
                    <span class="font-bold">Username</span>
                    <br />
                    <span>@principal.Claims.First(x => x.Type == "Username").Value</span>
                </a>
            </li>
            <li class="list-group-item">
                <a asp-controller="Settings" asp-action="UpdatePhone">
                    <span class="font-bold">Phone</span>
                    <br />
                    <span>@principal.Claims.First(x => x.Type == "Phone").Value</span>
                    @while (!string.IsNullOrEmpty(principal.Claims.First(x => x.Type == "Phone").Value))
                    {
                        if (!Convert.ToBoolean(principal.Claims.First(x => x.Type == "PhoneConfirmed").Value))
                        {
                            <span>(Pending)</span>
                        }
                        break;
                    }
                </a>
            </li>
            <li class="list-group-item">
                <a asp-controller="Settings" asp-action="UpdateEmail">
                    <span class="font-bold">Email</span>
                    <br />
                    <span>@principal.Claims.First(x => x.Type == "Email").Value</span>
                    @while (!string.IsNullOrEmpty(principal.Claims.First(x => x.Type == "Email").Value))
                    {
                        if (!Convert.ToBoolean(principal.Claims.First(x => x.Type == "EmailConfirmed").Value))
                        {
                            <span>(Pending)</span>
                        }
                        break;
                    }
                </a>
            </li>
            <li class="list-group-item">
                <a asp-controller="Settings" asp-action="UpdatePassword">
                    <span class="font-bold">Password</span>
                </a>
            </li>
            <li class="list-group-item">
                <a asp-controller="Settings" asp-action="Security">
                    <span class="font-bold">Security </span>
                    @if (Convert.ToBoolean(principal.Claims.First(x => x.Type == "TwoFactorEnabled").Value) && Convert.ToBoolean(principal.Claims.First(x => x.Type == "PasswordResetProtection").Value))
                    {
                        <b class="icon-lock"></b>
                    }
                </a>
            </li>
            <li class="divider"></li>
            <li class="h4 font-bold list-group-item bg-light"> Data & Permissions </li>
            <li class="list-group-item">
                <a asp-controller="Settings" asp-action="UpdateCountry">
                    <p class="font-bold">Country</p>
                    @if (!string.IsNullOrEmpty(principal.Claims.First(x => x.Type == "Country").Value))
                    {
                        <p class="small">@principal.Claims.First(x => x.Type == "Country").Value</p>
                    }
                    else
                    {
                        <p class="small">Select the country you live in.</p>
                    }

                </a>
            </li>
            <li class="list-group-item"><a href="#"><span class="font-bold">Your Data</span></a></li>
            <li class="list-group-item"><a href="#"><span class="font-bold">Apps and Sessions</span></a></li>
            <li class="list-group-item"><a asp-controller="Settings" asp-action="DeactivateAccount"><span class="font-bold">Deactivate account</span></a></li>
        </ul>
    </section>
</section>

