@model FNMusic.Models.UpdatePasswordResetProtection
@{
    ViewData["Title"] = "Update Password Reset Protection";
    Layout = "~/Views/Shared/_ModalLayout.cshtml";
}

<section class="m-t-lg wrapper-md animated fadeInDown">
    <div class="container aside-lg bg-white" style="box-shadow:0px 10px 10px; border-radius:5px;">
        <header class="modal-header">
            <h4>Save changes</h4>
        </header>
        @using (Html.BeginForm("UpdatePasswordResetProtection", "Settings", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <section class="scrollable" style="margin-top:2px;">
                <div class="form-group">
                    <p class="small">Re-enter your password to save changes to your account.</p>
                    @Html.TextBoxFor(x => x.Password, new { @class = "form-control text-sm", type = "password", placeholder = "Current password", style = "border-top:none; border-left:none; border-right:none; width:200px;" })
                </div>
            </section>
            <footer class="footer pull-right">
                <a class="btn btn-danger btn-rounded" data-dismiss="modal">
                    <span>Cancel</span>
                </a>
                <button type="submit" class="btn btn-success btn-rounded">
                    <span>Ok</span>
                </button>
            </footer>
        }
    </div>
</section>

