@model FNMusic.Models.UpdateTwoFactorByPhone
@using System.Security.Claims
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor
@{
    ViewData["Title"] = "Update Two-Factor";
    Layout = "~/Views/Shared/_SettingsLayout.cshtml";

    ClaimsPrincipal principal = httpContextAccessor.HttpContext.User;
}

<section class="vbox bg-white">
    <section class="scrollable">
        <header class="modal-header">
            <a asp-controller="Settings" asp-action="Security"><i class="fa fa-arrow-left"></i></a>
            <span class="h4 text-black padder">Two-factor authentication</span>
        </header>
        <ul class="list-group nav nav-user user">
            <li>
                <a asp-controller="Settings" asp-action="UpdateTwoFactorByPhone">
                    <p class="h5 text-black font-bold">
                        Text Message
                        @if (Convert.ToBoolean(principal.Claims.First(x => x.Type == "TwoFactorEnabled").Value))
                        {
                            <input type="checkbox" class="pull-right checkbox" checked />
                        }
                        else
                        {
                            <input type="checkbox" class="pull-right checkbox" />
                        }
                    </p>
                    <span class="small">Use your mobile phone to receive a text message with an authentication code to enter when you log in</span>
                </a>
            </li>
        </ul>
    </section>
</section>


