@model UserMgt.Models.UpdatePassword
@{
    ViewData["Title"] = "Update Password";
    Layout = "~/Views/Shared/_SettingsLayout.cshtml";
}

<section class="vbox bg-white">
    <section class="scrollable">
        <header class="modal-header">
            <a asp-controller="Settings" asp-action="AccountSettings"><i class="fa fa-arrow-left"></i></a>
            <span class="h4 font-bold text-center padder">Change Password</span>
        </header>
        @using(Html.BeginForm("Settings","UpdatePassword",FormMethod.Post, new { enctype = "multipart/form-data"}))
        {
            
            <section class="wrapper" style="padding-left:30px; padding-right:30px;">
                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.ValidationSummary(false, "", new { @class="text-danger"})
                    </div>
                    <div class="form-group">
                        <p>Current Password <span class="text-danger">*</span></p>
                        @Html.PasswordFor(x => x.CurrentPassword, new { @class="form-control", style="width:200px; border-right-style:hidden; border-left-style:hidden; border-top-style:hidden;" } )
                    </div>
                    <div class="form-group">
                        <p>New Password <span class="text-danger">*</span></p>
                        @Html.PasswordFor(x => x.NewPassword, new { @class = "form-control", style = "width:200px; border-right-style:hidden; border-left-style:hidden; border-top-style:hidden;" })
                    </div>
                    <div class="form-group">
                        <p>Confirm Password <span class="text-danger">*</span></p>
                        @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control", style = "width:200px; border-right-style:hidden; border-left-style:hidden; border-top-style:hidden;" })
                    </div>
                </div>
            </section>
            <footer class="modal-footer">
                <button type="submit" class="btn btn-success btn-rounded">
                    <span>Done</span>
                </button>
            </footer>
        }
    </section>
</section>