
@{
    ViewData["Title"] = "Update Password";
    Layout = "~/Views/Shared/_SettingsLayout.cshtml";
}

<section class="vbox">
    <section class="scrollable">
        <div class="modal-header">
            <a href="/settings/account"><i class="fa fa-arrow-left"></i></a>
            <span class="h4 font-bold text-center padder">Change Password</span>
        </div>
        @using(Html.BeginForm("Settings","UpdatePassword",FormMethod.Post, new { enctype = "multipart/form-data"}))
        {
            <section></section>
        }
    </section>
</section>