@model FNMusic.Models.Update
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor
@{
    ViewData["Title"] = "Update Phone";
    Layout = "~/Views/Shared/_SettingsLayout.cshtml";
    bool vcsent = Convert.ToBoolean(httpContextAccessor.HttpContext.Session.GetString("VCSent"));
}
<section class="vbox">
    <section class="scrollable">
        <header class="modal-header">
            <a href="/settings/account"><i class="fa fa-arrow-left"></i></a>
            <span class="h4 font-bold text-center padder">Change Phone</span>
        </header>
        @using (Html.BeginForm("UpdatePhone", "Settings", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <section class="wrapper" style="padding-left:30px; padding-right:30px;">
                <div class="form-horizontal">
                    <div class="form-group">
                        <p>Phone</p>
                        <input id="PhoneTbx" name="Phone" value="@Html.ValueFor(x => x.Phone)" class="form-control" style="width:200px; border-right-style:hidden; border-left-style:hidden; border-top-style:hidden;" />
                        <br />
                        <span class="small">
                            We will text a verification code to this number. Standard SMS free may apply. Others will be able to find you by email or phone number.
                        </span>
                    </div>
                    @if (vcsent)
                    {
                        <div class="form-group">
                            <p>Verification Code</p>
                            <input id="TokenTbx" name="Token" required class="form-control" style="border-right-style:hidden; border-left-style:hidden; border-top-style:hidden;" />
                        </div>
                    }
                </div>
            </section>
            <footer class="modal-footer">
                @if (vcsent)
                {
                    <button class="btn btn-success btn-rounded pull-right">
                        <span>Add Phone</span>
                    </button>
                }
                else
                {
                    <button class="btn btn-success btn-rounded pull-right">
                        <span>Verify Phone</span>
                    </button>
                }
            </footer>
        }
    </section>
</section>


